In [1]:
my_list = [1, 2, 'this', 'that', 34, 51, 23, 'the last item']

In [6]:
other_list = sum(item for item in my_list if type(item) == int)

In [7]:
other_list

111

In [26]:
the_string = '#1345'

In [27]:
the_string.isdigit()

False

In [34]:
the_string = 'a 1string text'

In [29]:
the_string[0]

'a'

In [38]:
has_numbers = any(char.isdigit() for char in the_string)

In [39]:
my_tuple = (1, 2, 5, 'this')

In [40]:
type(my_tuple)

tuple

In [42]:
my_tuple[0]

1

In [43]:
my_tuple.append(13)

AttributeError: 'tuple' object has no attribute 'append'

In [44]:
import numpy as np

In [45]:
var = np.arange(16).reshape(4, 4)

In [46]:
var

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [48]:
my_dict = {
    'key' : 24,
    'key2': 37,
    'key3': 45
}

In [49]:
type(my_dict)

dict

In [50]:
my_dict['key']

24

In [51]:
my_dict[0]

KeyError: 0

In [52]:
my_dict['key4'] = 23

In [53]:
my_dict

{'key': 24, 'key2': 37, 'key3': 45, 'key4': 23}

In [54]:
my_dict['key5']

KeyError: 'key5'

In [58]:
try:
    my_dict['key4']
except:
    print("There's no key value for that.")
else:
     print(my_dict['key4'])

23

In [79]:
def my_function():
    return "The returned value."

In [60]:
my_function()

The returned value.

In [80]:
a = my_function()

In [81]:
a

'The returned value.'

In [74]:
a is None

True

In [111]:
def squares_the_number(arg):
    return arg**2

In [110]:
def adds_the_numbers(arg1, arg2, ):
    return arg1 + arg2

In [104]:
sum_of_nums, print_statement = adds_the_numbers(2, 6)

In [112]:
adds_the_numbers(squares_the_number(3), 6)

15

In [106]:
print_statement

'Hello'

In [107]:
arg1

NameError: name 'arg1' is not defined

In [116]:
for index, item in enumerate(my_list):
    print(index, item)

0 1
1 2
2 this
3 that
4 34
5 51
6 23
7 the last item

In [117]:
my_string = 'abcdefghijklmnop'

In [120]:
my_string.find('z')

-1

In [121]:
def area_of_square(length):
    return length**2

In [122]:
area_of_square(5)

25

In [ ]:
def area_of_triange(length, width):
    return (length*width) / 5

In [127]:
def analyzes_string(my_pet_rock):
    character_list = []
    for letter in my_pet_rock:
        character_list.append(letter)
    return character_list

In [128]:
analyzes_string('the string')

['t']

In [134]:
def analyzes_string(my_pet_rock):
    character_list = []
    for letter in my_pet_rock:
        character_list.append(letter)
    return character_list, len(my_pet_rock)

In [135]:
analyzes_string('the string')

(['t', 'h', 'e', ' ', 's', 't', 'r', 'i', 'n', 'g'], 10)

In [141]:
def my_function(arg, arg2):
    try:
        int(arg)
        int(arg2)
    except:
        raise TypeError ('Please provide a value that can be turned into an integer.')
    arg  = int(arg)
    arg2 = int(arg2)
    return [arg+arg2, arg-arg2, arg*arg2]

In [142]:
my_function('something else', '11')

TypeError: Please provide a value that can be turned into an integer.

In [ ]:
my_function(int('3'), )

In [144]:
def modifies_list(the_list):
    reversed_list = the_list[::-1]
    odds_list = []
    for index, item in enumerate(the_list):
        if index % 2 != 0:
            odds_list.append(item)
    return reversed_list, odds_list

In [145]:
modifies_list([3,3,4,5,6,7,8])

([8, 7, 6, 5, 4, 3, 3], [3, 5, 7])

In [150]:
def word_score(word):
    alphabet = string.ascii_uppercase.lower()
    letter_score = None
    word_score = 0
    for letter in word:
        letter_score = alphabet.find(letter) + 1
        word_score += letter_score
    return word_score

In [153]:
word_score('ccc')

9

In [149]:
import string

string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'